services: 

  postgres-db: 
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: docker_user
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker_user"]
      interval: 10s
      timeout: 5s
      retries: 5

  coupon-service: 
    container_name: coupon-service
    image: coupon-service:1.0
    restart: always
    ports:
      - "9091:9091"
    environment: 
      SPRING_PROFILES_ACTIVE: docker
    depends_on: 
      - postgres-db
    networks:
      - backend
  product-service: 
    container_name: product-service
    image: product-service:1.0
    restart: always
    ports:
      - "9090:9090"
    environment: 
      SPRING_PROFILES_ACTIVE: docker
    depends_on: 
      - postgres-db
      - coupon-service
    networks:
      - backend

networks:
  backend:
volumes:
  pgdata:    